# ==========================================
# PYTHON
# ==========================================

__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================
# VENV
# ==========================================

.venv/
venv/

# ==========================================
# JUPYTER
# ==========================================

.ipynb_checkpoints/

# ==========================================
# DATASETS PESADOS
# ==========================================

datasets/**/*.csv
datasets/**/*.geojson
datasets/**/*.pbf
datasets/**/*.shp
datasets/**/*.dbf
datasets/**/*.shx

# ==========================================
# OUTPUTS
# ==========================================

output/hotspots/*.html

# ==========================================
# SISTEMA
# ==========================================

.DS_Store
Thumbs.db
